.Advertise {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .Advertise {
      -ms-flex-direction: row;
      flex-direction: row; }
      .Advertise__text, .Advertise__button {
        -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
      .Advertise__button a {
        font-size: 25px; } }

.Contact {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-align: center;
  align-items: center; }
  .Contact__text ul {
    padding-left: 20px; }
  @media (min-width: 768px) {
    .Contact {
      -ms-flex-direction: row-reverse;
      flex-direction: row-reverse; }
      .Contact__text {
        -ms-flex-preferred-size: 60%;
        flex-basis: 60%; }
      .Contact__button {
        -ms-flex-preferred-size: 40%;
        flex-basis: 40%; } }

.Download {
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (min-width: 768px) {
    .Download {
      width: 80%; } }
  .Download .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center; }
    .Download .form-group label {
      -ms-flex-preferred-size: 30%;
      flex-basis: 30%; }
    .Download .form-group input {
      -ms-flex-preferred-size: 70%;
      flex-basis: 70%; }

.ContactUs {
  margin: 0 auto;
  max-width: 600px; }
  .ContactUs .form-group {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center; }
    .ContactUs .form-group label, .ContactUs .form-group input, .ContactUs .form-group select, .ContactUs .form-group textarea {
      -ms-flex-preferred-size: 100%;
      flex-basis: 100%; }
    .ContactUs .form-group button[type="submit"] {
      margin: 15px 0;
      width: 304px; }
      @media (min-width: 480px) {
        .ContactUs .form-group button[type="submit"] {
          width: auto;
          margin-left: 30%; } }
      @media (min-width: 992px) {
        .ContactUs .form-group button[type="submit"] {
          margin-left: 0; } }
    @media (min-width: 480px) {
      .ContactUs .form-group:last-child {
        -ms-flex-pack: justify;
        justify-content: space-between; }
      .ContactUs .form-group label {
        -ms-flex-preferred-size: 30%;
        flex-basis: 30%; }
      .ContactUs .form-group input, .ContactUs .form-group select, .ContactUs .form-group textarea {
        -ms-flex-preferred-size: 70%;
        flex-basis: 70%; }
      .ContactUs .form-group .g-recaptcha {
        margin-left: 30%; } }

/*# sourceMappingURL=app.css.map */
