@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
/* Theme Name: 

/* TABLE OF CONTENTS
1) Body
2) Typography
3) Components
  3.a) buttons
  3.b) form
  3.c) navbar
  3.d) pagination
  3.e) panel
  3.f) modal
  3.g) tabs
  3.g) alert
4) Helper
5) Blocks
  5.a main-header
  5.b listing
  5.c pricing
  5.d blog
  5.e resume
  5.f testimonial
  5.g account
  5.h maps
  5.i affix
  5.j main-footer
  5.k shortcode
* */
/* 1 Body
----------------------------------------------------------------------------- */
body {
  overflow-x: hidden;
  color: #666666;
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  line-height: 2em;
  font-size: 14px;
  position: relative;
  background: #FFF;
}

.img-profile {
    display:none;
}

.jobdesc img, .jobdesc p img {
    max-width: 100%;
}

.orangeudnerline {

	padding-bottom: 15px;
	
}

.btn-theme.btn-t-primary:hover {
    background: orange!important;
}

.featured {
	background-color: #f7ffe5!important;
}

.btn-primary.active, .btn-primary.focus, .btn-primary:active, .btn-primary:focus, .btn-primary:hover, .open>.dropdown-toggle.btn-primary {
    color: #fff;
    background-color: #639941;
    border-color: #639941;
}

.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: #ff7200;
    border: 1px solid #FFF;
	color:white!important;
    border-radius: 15px;
}

.no-pad {
	padding-left:0px;
	padding-right:0px;
	
}

.badge {
		background-color: #639941;

}
@media (max-width: 992px) {
    .hidemobile {
        display:none;        
    }
}
@media (max-width: 992px) {
  body.open-mobile-nav {
    overflow-y: hidden;
  }
  body.open-mobile-nav .wrapper {
    left: -275px;
  }
  body.open-mobile-nav .btn-nav-toogle.first {
    opacity: 0;
    filter: alpha(opacity=0);
  }
}
body:before,
body:after {
  height: 3px;
  content: "";
  position: absolute;
  width: 50%;
  top: 0;
  background: red;
  z-index: 2;
}
body:before {
  left: 0;
  background: #79A70A;
}
body:after {
  right: 0;
  background: #9C9C9C;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {
    color: #fff;
    background-color: #639941;
}

.wrapper {
  left: 0;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  padding-top: 3px;
  position: relative;
}
.wrapper .body-content {
  overflow-x: hidden;
}
/* 2 Typography
----------------------------------------------------------------------------- */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #639941;
}
a {
  color: #639941;
}
a:hover,
a:focus {
  color: #666666;
  outline: none;
}
/* 3 Components
----------------------------------------------------------------------------- */
/* 3.a btn
----------------------------------------------------------------------------- */
.btn-primary {
    color: #fff;
    background-color: #ff7200;
    border-color: #ff7200;
    height: 40px;
	    min-width: 60px;
}
.btn-theme {
  font-size: 13px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  font-weight: 700;
}
.btn-theme,
.btn-theme:hover,
.btn-theme:focus {
  outline: none;
}
.btn-theme.btn-square {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.btn-theme.btn-sm {
  padding: 6px 15px;
}
.btn-theme.btn-xs {
  padding: 3px 10px;
  font-size: 12px;
}
.btn-theme.btn-lg {
  font-size: 1.1em;
  padding: 15px 30px;
}
.btn-theme.btn-line {
  background: transparent;
  border-color: #ffffff;
  border-width: 2px;
  color: #ffffff;
}
.btn-theme.btn-line:hover,
.btn-theme.btn-line:focus {
  background: #639941;
  border-color: #639941;
}
.btn-theme.btn-line.dark,
.btn-theme.btn-line.dark:hover,
.btn-theme.btn-line.dark:focus {
  background: transparent;
  border-color: #639941;
  color: #639941;
}
.btn-theme.btn-line.soft,
.btn-theme.btn-line.soft:hover,
.btn-theme.btn-line.soft:focus {
  background: transparent;
  border-color: #e1e1e1;
  color: #639941;
  border-width: 1px;
}
.btn-theme:hover,
.btn-theme:focus,
.btn-theme:active {
  outline: none;
}
.btn-theme .bordered-left {
  border-left: 1px solid rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  margin-left: 10px;
}
.btn-theme .bordered-left.dark {
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-theme.btn-long {
  min-width: 250px;
}
.btn-theme .bordered-right {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding-right: 15px;
  margin-right: 10px;
}
.btn-theme .bordered-right.dark {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
}
.btn-theme .bordered-right.pull-left {
  width: 30px;
  left: 15px;
  position: absolute;
}
.btn-theme.toogle-btn .open {
  display: inline;
}
.btn-theme.toogle-btn .cls {
  display: none;
}
.btn-theme.toogle-btn.toogle-open .open {
  display: none;
}
.btn-theme.toogle-btn.toogle-open .cls {
  display: inline;
}
.btn-theme.no-left-border {
  -webkit-border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  -ms-border-radius: 0 3px 3px 0 !important;
  -o-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important;
}
.btn-theme.no-right-border {
  -webkit-border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  -ms-border-radius: 3px 0 0 3px !important;
  -o-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
}
.btn-theme.btn-pill {
  -webkit-border-radius: 50px !important;
  -moz-border-radius: 50px !important;
  -ms-border-radius: 50px !important;
  -o-border-radius: 50px !important;
  border-radius: 50px !important;
}
.btn-theme.btn-t-primary {
  background-color: #639941;
  color: #ffffff;
  position: relative;
}
.btn-theme.btn-t-primary:hover {
  background: #20354a;
}
@media (max-width: 768px) {
  .btn-block-xs {
    display: block;
  }
}
.link-white,
.link-white:hover,
.link-white:focus {
  color: #ffffff;
  text-decoration: none;
}
.link-black,
.link-black:hover,
.link-black:focus {
  color: #000000;
  text-decoration: none;
}
.link-text,
.link-text:hover,
.link-text:focus {
  color: #666666;
  text-decoration: none;
}
.link-defaut,
.link-defaut:hover,
.link-defaut:focus {
  color: #23527c;
}
/* 3.b form
----------------------------------------------------------------------------- */
.form-control {
  background: #ffffff;
  height: 40px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  border-color: #e1e1e1;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  font-size: 1em;
}
.form-control:focus {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  background: #f5f5f5;
  border-color: #639941;
}
.form-control.input-line {
  font-weight: 700;
}
.form-control.input-line::-webkit-input-placeholder {
  /* WebKit browsers */

  color: #ffffff;
}
.form-control.input-line:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */

  color: #ffffff;
  opacity: 1;
}
.form-control.input-line::-moz-placeholder {
  /* Mozilla Firefox 19+ */

  color: #ffffff;
  opacity: 1;
}
.form-control.input-line:-ms-input-placeholder {
  /* Internet Explorer 10+ */

  color: #ffffff;
}
.form-control.no-right-border {
  -webkit-border-radius: 3px 0 0 3px !important;
  -moz-border-radius: 3px 0 0 3px !important;
  -ms-border-radius: 3px 0 0 3px !important;
  -o-border-radius: 3px 0 0 3px !important;
  border-radius: 3px 0 0 3px !important;
}
.form-control.no-left-border {
  -webkit-border-radius: 0 3px 3px 0 !important;
  -moz-border-radius: 0 3px 3px 0 !important;
  -ms-border-radius: 0 3px 3px 0 !important;
  -o-border-radius: 0 3px 3px 0 !important;
  border-radius: 0 3px 3px 0 !important;
}
.form-control.input-line {
  display: inline-block;
  position: relative;
  background: transparent;
  border: 2px solid #ffffff;
  color: #ffffff;
}
.form-control.no-radius {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.form-control.input-lg {
  height: 50px;
}
.form-theme.input-sm {
  height: 33px;
}
.control-label.text-left {
  text-align: left;
}
.border-top {
  border-top: 1px solid #ebebeb;
  padding-top: 15px;
}
.flat-checkbox,
.flat-radio {
  line-height: 1em;
  position: relative;
}
.flat-checkbox label,
.flat-radio label {
  padding-left: 0;
}
.flat-checkbox input[type="checkbox"],
.flat-radio input[type="checkbox"],
.flat-checkbox input[type="radio"],
.flat-radio input[type="radio"] {
  position: absolute;
  left: -9999em;
}
.flat-checkbox span,
.flat-radio span {
  position: relative;
  top: -2px;
  background-color: #ffffff;
  border: 1px solid #ccc;
  font-size: 10px;
  line-height: 10px;
  padding: 3px 4px;
  border-radius: 2px;
  float: left;
  margin-right: 10px;
  color: #ffffff;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
}
.flat-checkbox input[type="radio"] + span,
.flat-radio input[type="radio"] + span {
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
.flat-checkbox input:checked + span,
.flat-radio input:checked + span,
.flat-checkbox input:checked + span,
.flat-radio input:checked + span {
  background-color: #639941;
  border-color: #639941;
}
.slider.slider-horizontal {
  width: 100%;
  height: 40px;
}
.slider.slider-horizontal .slider-track {
  margin-top: 0;
  height: 3px;
}
.slider.slider-horizontal .slider-selection {
  background: #639941;
}
.slider.slider-horizontal .slider-handle {
  margin-top: -9px;
  background: #ffffff;
  border: 1px solid #ebebeb;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  -webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  -moz-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  -o-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
  -ms-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2) !important;
}
.btn-file {
  min-width: 0;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
  overflow: hidden;
}
.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}
.input-group-addon {
  font-size: 1em;
}
.help-form {
  font-size: 12px;
  font-style: italic;
  color: #e74c3c;
}
/* 3.c navbar
----------------------------------------------------------------------------- */
.main-navbar {
  margin: 0;
  z-index: 1000;
  position: relative;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  background: #639941;
  border: 0;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.main-navbar .navbar-nav > li > a {
  font-weight: 300;
  padding: 20px 30px;
}
.main-navbar .navbar-nav > li > a,
.main-navbar .navbar-nav > li > a:hover,
.main-navbar .navbar-nav > li > a:focus {
  color: #ffffff;
}
.main-navbar .navbar-nav > li > a.link-profile {
  padding-left: 50px;
}
.main-navbar .navbar-nav > li > a .img-profile {
  top: 50%;
  margin-top: -15px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -ms-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  left: 15px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.main-navbar .navbar-nav > li.active > a,
.main-navbar .navbar-nav > li.active > a:hover,
.main-navbar .navbar-nav > li.active > a:focus {
  color: #639941;
  position: relative;
  background: #639941;
}
.main-navbar .navbar-nav > li.dropdown.open > a,
.main-navbar .navbar-nav > li.dropdown.open > a:hover,
.main-navbar .navbar-nav > li.dropdown.open > a:focus {
  color: #fff;
  background: transparent;
}
.main-navbar .navbar-nav > li.link-btn > a {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 5px;
  padding-left: 5px;
}
.main-navbar .navbar-collapse {
  padding-left: 0;
}
.main-navbar .caret {
  border-top: 4px solid;
  border-right: 4px solid transparent;
  color: #ebebeb;
  border-left: 4px solid transparent;
}
.main-navbar .dropdown-menu {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  background: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 1100;
  border: 0;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
@media (min-width: 768px) {
  .main-navbar .dropdown-menu:before {
    content: "";
    display: inline-block;
    position: absolute;
    top: -10px;
    left: 22px;
    bottom: auto;
    border: 10px solid transparent;
    border-top: 0;
    border-bottom-color: rgba(0, 0, 0, 0.1);
  }
  .hidetop {
	  display:none;
  }
  .main-navbar .dropdown-menu:after {
    content: "";
    display: inline-block;
    position: absolute;
    top: -9px;
    left: 23px;
    bottom: auto;
    border: 9px solid transparent;
    border-top: 0;
    border-bottom-color: #FFF;
  }
}
.main-navbar .dropdown-menu > li > a {
  padding: 8px 30px;
  font-size: 13px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  color: #666666;
}
.main-navbar .dropdown-menu > li > a:hover,
.main-navbar .dropdown-menu > li > a:focus {
  color: #639941;
  background: transparent;
}
@media (min-width: 768px) {
  .main-navbar .navbar-right .dropdown-menu:before {
    right: 22px;
    left: inherit;
  }
  .main-navbar .navbar-right .dropdown-menu:after {
    right: 23px;
    left: inherit;
  }
}
.mobile-nav {
  position: relative;
}
.mobile-nav .btn-nav-toogle {
  height: 30px;
  z-index: 100;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  border: 1px solid #639941;
  display: block;
  text-decoration: none;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  position: absolute;
  top: 10px;
  font-size: 12px;
  padding: 1px 10px;
  color: #639941;
  right: 0;
}
.mobile-nav .btn-nav-toogle span.bars {
  background: #639941;
  display: inline-block;
  height: 2px;
  width: 15px;
  margin-right: 10px;
  position: relative;
}
.mobile-nav .btn-nav-toogle span.bars:before {
  content: "";
  position: absolute;
  background: #639941;
  display: block;
  height: 2px;
  width: 15px;
  top: -4px;
}
.mobile-nav .btn-nav-toogle span.bars:after {
  content: "";
  position: absolute;
  background: #639941;
  display: block;
  height: 2px;
  width: 15px;
  top: -8px;
}
.mobile-nav .nav-block-left {
  z-index: 100;
  position: absolute !important;
}
.mobile-nav .nav-block-left li a {
  font-size: 13px;
  color: #639941;
}
.mobile-nav .nav-block-left li a,
.mobile-nav .nav-block-left li a:hover,
.mobile-nav .nav-block-left li a:focus {
  background: transparent;
}
.mobile-nav .nav-block-left .link-profile {
  padding-left: 50px;
}
.mobile-nav .nav-block-left .img-profile {
  top: 50%;
  margin-top: -15px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -webkit-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -moz-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -o-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  -ms-box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.2) !important;
  left: 15px;
  width: 30px;
  height: 30px;
  position: absolute;
}
.mobile-nav .nav-block-left .dropdown-menu {
  position: absolute;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1) !important;
  background: #FFF;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 0;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
.mobile-nav .nav-block-left .dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  top: -10px;
  left: 22px;
  bottom: auto;
  border: 10px solid transparent;
  border-top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.1);
}
.mobile-nav .nav-block-left .dropdown-menu:after {
  content: "";
  display: inline-block;
  position: absolute;
  top: -9px;
  left: 23px;
  bottom: auto;
  border: 9px solid transparent;
  border-top: 0;
  border-bottom-color: #FFF;
}
.mobile-nav .nav-block-left .dropdown-menu > li > a {
  padding: 8px 30px;
  font-size: 13px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  color: #d7d7d7;
}
.mobile-nav .nav-block-left .dropdown-menu > li > a:hover,
.mobile-nav .nav-block-left .dropdown-menu > li > a:focus {
  color: #ffffff;
  background: transparent;
}
.mobile-nav .mobile-nav-block {
  position: fixed;
  width: 275px;
  border-left: 1px solid #e1e1e1;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  padding: 8px 20px 20px;
  right: -275px;
  top: 3px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  z-index: 110;
  background: #ffffff;
}
.mobile-nav .mobile-nav-block > h4 {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
}
.mobile-nav .mobile-nav-block.open-mobile-nav {
  right: 0;
}
.mobile-nav .mobile-nav-block .btn-nav-toogle {
  border-color: #639941;
  right: 20px;
  color: #639941;
}
.mobile-nav .mobile-nav-block .btn-nav-toogle span.barsclose {
  background: #639941;
  display: inline-block;
  height: 2px;
  width: 10px;
  margin-right: 6px;
  top: -2px;
  position: relative;
}
.mobile-nav .mobile-nav-block .navbar-nav {
  margin: 0;
  padding: 0;
}
.mobile-nav .mobile-nav-block .navbar-nav li {
  clear: both;
  width: 100%;
}
.mobile-nav .mobile-nav-block .navbar-nav li a {
  padding: 15px 0;
  font-size: 13px;
}
.mobile-nav .mobile-nav-block .navbar-nav li a,
.mobile-nav .mobile-nav-block .navbar-nav li a:hover,
.mobile-nav .mobile-nav-block .navbar-nav li a:focus {
  background: transparent;
}
.mobile-nav .mobile-nav-block .navbar-nav li .dropdown-menu {
  margin-left: 15px;
  display: block !important;
  position: relative;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
  border: 0;
}
.mobile-nav .mobile-nav-block .navbar-nav li .dropdown-menu li a {
  line-height: 1em;
  padding-top: 10px;
  padding-bottom: 10px;
}
.mobile-nav .mobile-nav-block .navbar-nav li .dropdown-menu li:first-child a {
  padding-top: 0;
}
.mobile-nav .mobile-nav-block .navbar-nav li .dropdown-menu li:last-child a {
  padding-bottom: 0;
}
/* 3.d pagination
----------------------------------------------------------------------------- */
.pagination-theme > li > a,
.pagination-theme > li > span {
  color: #666666;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  margin-left: 5px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.03) !important;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.03) !important;
  -moz-box-shadow: 0 0 3px rgba(0, 0, 0, 0.03) !important;
  -o-box-shadow: 0 0 3px rgba(0, 0, 0, 0.03) !important;
  -ms-box-shadow: 0 0 3px rgba(0, 0, 0, 0.03) !important;
  border-color: #e1e1e1;
}
.pagination-theme > li > a:hover {
  box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 0 0 rgba(0, 0, 0, 0.1) !important;
  color: #666666;
}
.pagination-theme > .active > a,
.pagination-theme > .active > span,
.pagination-theme > .active > a:hover,
.pagination-theme > .active > span:hover,
.pagination-theme > .active > a:focus,
.pagination-theme > .active > span:focus {
  background-color: #639941;
  border: 0;
}
/* 3.e panel
----------------------------------------------------------------------------- */
.panel.panel-md {
  max-width: 400px;
  margin: 0 auto;
}
.panel-body-lg {
  padding: 20px;
}
.panel-heading {
  position: relative;
  padding: 15px 20px;
}
.panel-heading .collapse-toogle {
  position: absolute;
  right: 15px;
  top: 10px;
}
.panel-heading .collapse-toogle .ic-open {
  display: none;
}
.panel-heading .collapsed .collapse-toogle .ic-close {
  display: none;
}
.panel-heading .collapsed .collapse-toogle .ic-open {
  display: inline-block;
}
.panel-heading .with-ic {
  padding-right: 30px;
}
.panel-title a,
.panel-title a:hover,
.panel-title a:focus {
  text-decoration: none;
}
/* 3.f modal
----------------------------------------------------------------------------- */
.modal-content {
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  -o-box-shadow: none !important;
  -ms-box-shadow: none !important;
}
.modal-header {
  padding: 30px;
}
.modal-header .close {
  border: 1px solid #fff;
  border-radius: 15px;
  width: 32px;
  height: 32px;
  right: 0px;
  position: absolute;
  outline: none;
  color: #fff;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  opacity: 0.6;
  filter: alpha(opacity=60);
  top: -40px;
}
.modal-header .close:hover {
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.modal-body {
  padding: 20px 30px;
}
.modal-footer {
  padding: 20px 30px;
}
.modal-dialog {
  margin: 80px auto;
}
@media (min-width: 450px) {
  .modal-dialog.modal-md {
    width: 400px;
  }
}
.modal-footer.text-center {
  text-align: center;
}
/* 3.g tabs
----------------------------------------------------------------------------- */
.flat-nav-tabs {
  background: #f5f5f5;
  padding: 15px 10px 0 10px;
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  -ms-border-radius: 3px 3px 0 0 !important;
  -o-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  border-top: 1px solid #e1e1e1;
  border-left: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
}
.flat-nav-tabs > li > a {
  color: #666666;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
}
.flat-nav-tabs > li.active > a {
  -webkit-border-radius: 3px 3px 0 0 !important;
  -moz-border-radius: 3px 3px 0 0 !important;
  -ms-border-radius: 3px 3px 0 0 !important;
  -o-border-radius: 3px 3px 0 0 !important;
  border-radius: 3px 3px 0 0 !important;
  box-shadow: 0 -2px 0 #639941 !important;
  -webkit-box-shadow: 0 -2px 0 #639941 !important;
  -moz-box-shadow: 0 -2px 0 #639941 !important;
  -o-box-shadow: 0 -2px 0 #639941 !important;
  -ms-box-shadow: 0 -2px 0 #639941 !important;
}
.flat-tab-content {
  border-left: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
  border-right: 1px solid #e1e1e1;
  padding: 20px 0;
}
.flat-tab-content .tab-pane {
  padding: 0 20px;
}
/* 3.h alert
----------------------------------------------------------------------------- */
.alert {
  padding: 20px 35px 20px 20px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
/* 4 Helper
----------------------------------------------------------------------------- */
.relative {
  position: relative;
}
.block-section {
  padding: 60px 0;
}
.block-section-sm {
  padding: 40px 0;
}
.block-section-xs {
  padding: 10px 0;
}
.bg-color1 {
  background-color: #ffffff;
}
.bg-color2 {
  background-color: #fff;
}
.bg-color2 hr {
  border-color: #e1e1e1;
}
.bg-color3 {
  background-color: #639941;
}
.bg-color4 {
  background-color: #394e63;
}
.font-1x {
  font-size: 13px;
}
.font-2x {
  font-size: 2.5em;
}
.font-light {
  font-weight: 300;
}
.font-bold {
  font-weight: 700;
}
.font-normal {
  font-weight: 400;
}
.no-padding-top {
  padding-top: 0 !important;
}
.no-margin {
  margin: 0 !important;
}
.no-margin-top {
  margin-top: 0 !important;
  margin-bottom: 30px;
}
.no-margin-bottom {
  margin-bottom: 0 !important;
}
.white-space-5 {
  height: 5px;
}
.white-space-10 {
  height: 10px;
}
.white-space-15 {
  height: 15px;
}
.white-space-20 {
  height: 20px;
}
.white-space-30 {
  height: 30px;
}
.white-space-40 {
  height: 40px;
}
.white-space-50 {
  height: 50px;
}
.white-space-60 {
  height: 60px;
}
.space-inline-10 {
  display: inline-block;
  width: 10px;
}
.space-inline-100 {
  width: 100px;
  display: inline-block;
}
.socials a {
  color: #666666;
  width: 30px;
  height: 30px;
  text-align: center;
  display: inline-block;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  margin-left: 2px;
  border: 1px solid #666666;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
}
.socials a:hover,
.socials a:focus {
  border: 1px solid #ebebeb;
  background: #ffffff;
  color: #000000;
}
.span-line {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
.span-line:before,
.span-line:after {
  content: "";
  height: 1px;
  background: #ebebeb;
  top: 50%;
  width: 80px;
  position: absolute;
}
.span-line:before {
  left: -80px;
}
.span-line:after {
  right: -80px;
}
.color-white {
  color: #ffffff !important;
}
.color-white-mute {
  color: #b9b9b9 !important;
}
.color-black {
  color: #000000 !important;
}
.color-heading {
  color: #639941 !important;
}
.color-text {
  color: #666666 !important;
}
.box-icon {
  display: inline-block;
  border: 1px solid #d7d7d7;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  background: #e1e1e1;
}
.text-truncate {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  -ms-text-overflow: ellipsis;
}
[data-toggle="collapse"]:hover {
  cursor: pointer;
}
.ic-arrow-toogle {
  display: inline-block;
  width: 20px;
  height: 20px;
  background: #666666;
  color: #ffffff;
  text-align: center;
  line-height: 20px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  top: -3px;
  position: relative;
  font-size: 12px;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
}
.collapsed .ic-arrow-toogle {
  transform: rotate(0);
  -webkit-transform: rotate(0);
  -moz-transform: rotate(0);
  -o-transform: rotate(0);
  -ms-transform: rotate(0);
}
.rate {
  margin-right: 10px;
  color: #F5BE4E;
  font-size: 13px;
}
.line-bottom {
  border-bottom: 1px solid #e1e1e1;
}
.margin-b-20 {
  margin-bottom: 20px;
}
@media (max-width: 992px) {
  .text-center-sm {
    text-align: center;
  }
}
@media (max-width: 768px) {
  .text-center-xs {
    text-align: center;
  }
}
.mt-20 {
  margin: 20px 0;
}
.img-full {
  width: 100%;
}
.company-photos img {
  margin-bottom: 30px;
}
.box-ic-center {
  margin-bottom: 30px;
  text-align: center;
}
.box-ic-center .ic-box {
  display: inline-block;
  width: 80px;
  height: 80px;
  text-align: center;
  background: #e1e1e1;
  color: #639941;
  font-size: 20px;
  line-height: 80px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
  margin-bottom: 20px;
  margin-top: 30px;
}
.clients img {
  height: 40px;
}
.clients a {
  opacity: 0.6;
  filter: alpha(opacity=60);
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  display: inline-block;
  margin: 10px 20px;
}
.clients a:hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
.clients.no-margin {
  border-bottom: 0;
  padding: 0;
  margin: 0;
}
.big-error {
  text-align: center;
  font-weight: 700;
  color: #e1e1e1;
  font-size: 19em;
  padding: 27px 0 0;
  margin-bottom: 15px;
  clear: both;
  line-height: 1em;
}
@media (max-width: 500px) {
  .big-error {
    font-size: 10em;
    margin-bottom: 30px;
  }
}
.ic-circle {
  width: 40px;
  text-align: center;
  height: 40px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: inline-block;
  line-height: 40px;
}
.ic-circle-md {
  width: 30px;
  text-align: center;
  height: 30px;
  border-radius: 50%;
  border: 1px solid #ddd;
  display: inline-block;
  line-height: 30px;
}
/* 5 Blocks
----------------------------------------------------------------------------- */
/* 5.a main-header
----------------------------------------------------------------------------- */
.main-header {
  background: #FFF;
}
.main-header .logo {
  max-width: 100%;
  position: relative;
  margin: 80px 0;
}
@media (max-width: 992px) {
  .main-header .logo {
    margin: 80px 0 60px;
  }
}
@media (min-width: 992px) {
  .main-header .logo.inline {
    display: inline-block;
  }
}
.main-header .logo .label-add {
  right: 0;
  bottom: -8px;
  height: 1px;
  color: #ffffff;
}
@media (min-width: 992px) {
  .main-header .logo .label-add {
    position: absolute;
  }
}
.main-header .hero-header {
  /*background: url(../images/home-bg.jpg) center no-repeat;*/
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: hidden;
  position: relative;
  min-height: 75px;
}

@media (max-width: 786px) {
  .main-header .hero-header {
	  height: 350px;
  }
  
  .main-header .hero-header .inner-hero-header {
	  position: absolute;
	  width: 100%;
	  left: 0;
	  z-index: 10;
	  bottom: 10px!important;
}
  
}

.main-header .hero-header:before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  height: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
}
.main-header .hero-header:after {
  content: "";
  position: absolute;
  /* background: url(../images/home-bgblur.jpg) center no-repeat; */
  -webkit-background-size: 100%;
  -moz-background-size: 100%;
  -o-background-size: 100%;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  top: 0;
  left: 0;
  width: 100%;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  opacity: 0;
  filter: alpha(opacity=0);
}
.main-header .hero-header:hover:after {
  opacity: 1;
  filter: alpha(opacity=100);
}
.main-header .hero-header .inner-hero-header {
  position: absolute;
  width: 100%;
  left: 0;
  z-index: 10;
  bottom: 40px;
}
.main-header .ic-fade-globe {
  font-size: 141px;
  position: absolute;
  width: 200px;
  height: 200px;
  left: 50%;
  margin-left: -100px;
  top: -65px;
  text-align: center;
  color: rgba(255, 255, 255, 0.2);
}
.main-header .form-search-home {
  max-width: 700px;
  margin: 0 auto;
  position: relative;
  -webkit-border-radius: 10px 10px 0 0 !important;
  -moz-border-radius: 10px 10px 0 0 !important;
  -ms-border-radius: 10px 10px 0 0 !important;
  -o-border-radius: 10px 10px 0 0 !important;
  border-radius: 10px 10px 0 0 !important;
  min-height: 200px;
  background: #ffffff;
  padding: 30px;
  padding-bottom: 0;
}
.main-header .form-search-home .form-group {
  margin-bottom: 20px;
}
.main-header .form-search-home:before {
  content: "";
  background: url(../images/cloud-1.png) no-repeat;
  position: absolute;
  width: 235px;
  height: 110px;
  left: -233px;
  bottom: -2px;
}
.main-header .form-search-home:after {
  content: "";
  background: url(../images/cloud-2.png) no-repeat;
  position: absolute;
  width: 235px;
  height: 110px;
  right: -233px;
  bottom: -2px;
}
.main-header .form-search-list {
  margin-top: 53px;
  margin-bottom: 20px;
}
/* 5.b listing
----------------------------------------------------------------------------- */
@media (min-width: 992px) {
  .box-list-area {
    border-right: 1px solid #e1e1e1;
    padding-right: 30px;
  }
}
.box-list {
  margin: 20px 0 ;
}
.box-list .item {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  padding: 30px;
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  border: 1px solid #e1e1e1;
      margin-top: 15px;
    border-top: 1px solid #e1e1e1;
	border-radius: 5px!important;
}
.box-list .item:first-child {
  border-top: 1px solid #e1e1e1;

}
.box-list .item:last-child {

}
.box-list .item .rate {
  font-size: 10px;
  margin: 0 10px;
}
.box-list .img-item img {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  text-align: center;
  max-width: 100%;
}
.side-right {
  position: relative;
}
.result-filter {
  margin: 20px 0;
}
.result-filter .list-area {
  margin-bottom: 30px;
}
.get_alert {
  background: #ffffff;
  padding: 30px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
.box-item-details {
  background: #ffffff;
  position: relative;
}
@media (min-width: 992px) {
  .box-item-details {
    padding-right: 30px;
    border-right: 1px solid #e1e1e1;
  }
}
.box-item-details:before {
  content: "";
  position: absolute;
  background: #ffffff;
  left: -1000%;
  width: 1000%;
  top: 0;
  height: 100%;
}
@media (max-width: 992px) {
  .box-item-details:after {
    content: "";
    position: absolute;
    background: #ffffff;
    right: -1000%;
    width: 1000%;
    top: 0;
    height: 100%;
  }
}
.box-item-details .title {
  border-top: 1px solid #e1e1e1;
  padding-top: 40px;
  margin-top: 30px;
  padding-bottom: 20px;
}
.box-item-details h4 {
  padding-top: 15px;
}
.box-item-details .job-meta ul {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
}
.box-item-details .job-meta ul li {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  margin-bottom: 3px;
  border: 1px solid #e1e1e1;
  padding: 5px 20px;
}
.box-item-details .job-meta ul li i {
  margin-right: 3px;
}
.share-btns .btn {
  min-width: 40px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
.nav-sidebar {
  border: 1px solid #e1e1e1;
}
.nav-sidebar li a {
  background: #ffffff;
  border-bottom: 1px solid #e1e1e1;
  padding: 10px 30px;
  display: block;
}
/* 5.c pricing
----------------------------------------------------------------------------- */
.plan {
  background: #f5f5f5;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
  -webkit-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
  -moz-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
  -o-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
  -ms-box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1) !important;
  -webkit-border-radius: 5px 5px 0 0 !important;
  -moz-border-radius: 5px 5px 0 0 !important;
  -ms-border-radius: 5px 5px 0 0 !important;
  -o-border-radius: 5px 5px 0 0 !important;
  border-radius: 5px 5px 0 0 !important;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  position: relative;
  overflow: hidden;
  margin: 20px 0 30px;
  text-align: center;
}
.plan .plan-title {
  padding: 20px;
}
.plan .plan-title h3 {
  font-weight: 700;
  margin: 0;
}
.plan .plan-list {
  padding: 10px 0 10px;
}
.plan .plan-price {
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
  background: #ffffff;
  padding: 15px 0 15px;
  color: #639941;
  border-top: 1px solid #e1e1e1;
  border-bottom: 1px solid #e1e1e1;
}
.plan .price {
  display: block;
  font-size: 72px;
  color: #52677c;
  line-height: 101px;
  font-weight: bold;
  transition: all 0.6s ease 0s;
  -webkit-transition: all 0.6s ease 0s;
  -moz-transition: all 0.6s ease 0s;
  -o-transition: all 0.6s ease 0s;
  -ms-transition: all 0.6s ease 0s;
  -webkit-backface-visibility: hidden;
}
.plan .period {
  font-size: 14px;
}
.plan .item-list {
  margin-bottom: 0;
  list-style: none;
  padding: 0;
  padding-bottom: 10px;
}
.plan .item-list li {
  padding: 10px 5px;
  font-size: 1.1em;
}
.plan .item-list li strong {
  color: #3c3c3c;
}
.plan .btn-square {
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  -ms-border-radius: 0 !important;
  -o-border-radius: 0 !important;
  border-radius: 0 !important;
  border: 0;
}
.plan:hover {
  background: #ffffff;
}
.plan:hover .plan-price {
  background: #f5f5f5;
}
.plan-nospace {
  margin: 0;
}
.plan-nospace .plan-item {
  padding: 0;
}
.plan-nospace .plan-item .popular {
  z-index: 2;
  top: -10px;
}
.plan-nospace .plan-item .popular .plan-title {
  padding: 25px 20px;
}
/* 5.d blog
----------------------------------------------------------------------------- */
.blog-list {
  padding-bottom: 20px;
  border-bottom: 1px solid #e1e1e1;
  margin-bottom: 30px;
}
.blog-list img {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
}
.blog-list blockquote {
  color: #639941;
  margin-top: 20px;
  margin-bottom: 20px;
}
.blog-list h4 {
  margin-top: 30px;
}
.blog-list .blog-item {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 60px;
}
.blog-list .blog-item .blog-title {
  text-align: center;
  margin-bottom: 20px;
}
.blog-list .blog-item .blog-meta {
  text-align: center;
  margin-bottom: 20px;
}
.blog-list .blog-item .blog-img {
  margin-bottom: 15px;
}
.blog-list .blog-item .blog-links {
  margin-top: 20px;
}
.blog-list .blog-item .blog-desc-bottom {
  margin-top: 30px;
  border-top: 1px solid #e1e1e1;
  padding-top: 30px;
}
.blog-list .blog-item .post-comment .post-profile {
  text-align: center;
  padding-right: 30px;
}
.blog-list .blog-item .post-comment .post-profile img {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
.blog-list .blog-item .post-comment .post-desc-comment {
  margin-bottom: 30px;
}
.blog-list .blog-item .post-profile-blog {
  background: #f5f5f5;
  padding: 20px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  margin-top: 40px;
  margin-bottom: 30px;
  border: 1px solid #e1e1e1;
}
.blog-list .blog-item .list-comments {
  margin-top: 60px;
  border-bottom: 1px solid #e1e1e1;
  margin-top: 30px;
}
/* 5.e resume
----------------------------------------------------------------------------- */
.resume-block {
  position: relative;
  padding-left: 100px;
}
@media (max-width: 768px) {
  .resume-block {
    padding-left: 70px;
  }
}
.resume-block .img-profile {
  position: absolute;
  left: 0;
  z-index: 2;
  top: 0;
}
.resume-block .img-profile img {
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  width: 80px;
}
@media (max-width: 768px) {
  .resume-block .img-profile img {
    width: 50px;
  }
}
.resume-block .resume-sub-title {
  position: relative;
  left: -30px;
  margin-top: 40px;
}
@media (max-width: 768px) {
  .resume-block .resume-sub-title {
    left: -15px;
  }
}
.resume-block .resume-sub-title span {
  border: 1px solid #e1e1e1;
  padding: 15px 30px;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  position: relative;
  display: inline-block;
}
@media (max-width: 768px) {
  .resume-block .resume-sub-title span {
    padding: 15px 15px;
  }
}
.resume-block .resume-sub-title span:before {
  content: "";
  left: -30px;
  top: 50%;
  height: 1px;
  background: #e1e1e1;
  width: 30px;
  position: absolute;
}
@media (max-width: 768px) {
  
}
.resume-block:before {
  content: "";
  position: absolute;
  left: 40px;
  width: 1px;
  border-left: 1px solid #e1e1e1;
  height: 100%;
  top: 0;
}
@media (max-width: 768px) {
  .resume-block:before {
    left: 25px;
  }
}
.resume-block:after {
  content: "";
  position: absolute;
  left: 30px;
  width: 20px;
  height: 20px;
  border: 1px solid #e1e1e1;
  bottom: -20px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
@media (max-width: 768px) {
  .resume-block:after {
    left: 15px;
  }
}
/* 5.f testimonial
----------------------------------------------------------------------------- */
.box-testimonial {
  margin-bottom: 30px;
  text-align: center;
}
.box-testimonial .desc {
  position: relative;
  background: #ffffff;
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 10px !important;
  -moz-border-radius: 10px !important;
  -ms-border-radius: 10px !important;
  -o-border-radius: 10px !important;
  border-radius: 10px !important;
  padding: 20px;
  margin-bottom: 20px;
}
.box-testimonial .desc:before {
  content: "";
  border-top: 10px solid #ffffff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: absolute;
  bottom: -10px;
  z-index: 2;
  left: 50%;
  margin-left: -10px;
}
.box-testimonial .desc:after {
  content: "";
  border-top: 12px solid #e1e1e1;
  border-left: 12px solid transparent;
  border-right: 12px solid transparent;
  position: absolute;
  bottom: -12px;
  left: 50%;
  margin-left: -12px;
}
.box-testimonial img {
  width: 64px;
  height: 64px;
  -webkit-border-radius: 50% !important;
  -moz-border-radius: 50% !important;
  -ms-border-radius: 50% !important;
  -o-border-radius: 50% !important;
  border-radius: 50% !important;
}
/* 5.g account
----------------------------------------------------------------------------- */
@media (min-width: 768px) {
  .box-side-account {
    border-left: 1px solid #e1e1e1;
    padding-left: 40px;
    min-height: 550px;
  }
}
@media (max-width: 768px) {
  .box-side-account {
    border-top: 1px solid #e1e1e1;
  }
  
  .smaller-mobile {
      font-size: 12px;
  }
}
/* 5.h maps
----------------------------------------------------------------------------- */
.marker-description {
  position: relative;
}
.marker-description .inner {
  position: absolute;
  left: 0;
  top: 50px;
  width: 250px;
  background: #ffffff;
  padding: 20px;
  z-index: 20;
  -webkit-border-radius: 3px !important;
  -moz-border-radius: 3px !important;
  -ms-border-radius: 3px !important;
  -o-border-radius: 3px !important;
  border-radius: 3px !important;
  border: 1px solid #e1e1e1;
}
.map-area-detail {
  border-top: 1px solid #e1e1e1;
  background: #f5f5f5 url(../images/preloader.gif) center no-repeat;
  position: relative;
}
.map-area-detail:before {
  content: "";
  position: absolute;
  height: 100%;
  background: transparent;
  width: 60px;
  right: 0;
  top: 0;
  z-index: 10;
}
.map-area-detail .box-map-detail {
  height: 600px;
  width: 100%;
}
/* 5.i affix
----------------------------------------------------------------------------- */
#affix-box.affix {
  position: relative !important;
  top: 0 !important;
  z-index: 2;
}
@media (min-width: 1200px) {
  #affix-box.affix {
    width: 263px;
    top: 0;
  }
}
@media (max-width: 992px) {
  #affix-box .text-right {
    text-align: left !important;
  }
}
/* 5.j main-footer
----------------------------------------------------------------------------- */
.main-footer {
  width: 100%;
  padding: 15px 0;
  border-top: 1px solid #d7d7d7;
  font-size: 12px;
  font-size: 12px;
}
.main-footer a {
  color: #7c7b7b;
}
@media (max-width: 768px) {
  .main-footer .socials {
    margin-bottom: 10px;
  }
}
.main-footer .link-footer {
  margin: 0;
  margin-top: 3px;
}
.main-footer .link-footer li {
  padding: 0;
}
.main-footer .link-footer li a {
  margin-right: 30px;
}
@media (max-width: 768px) {
  .main-footer .link-footer li a {
    margin-right: 20px;
  }
}
.main-footer .link-footer li:last-child a {
  margin-right: 0;
}
@media (max-width: 768px) {
  .main-footer .link-footer {
    margin-bottom: 20px;
  }
}
/* 5.k shortcode
----------------------------------------------------------------------------- */
.show-grid .row {
  margin-bottom: 15px;
}
.show-grid .row span {
  padding: 10px 0;
  background: #e1e1e1;
  display: block;
  text-align: center;
}
.nav-left-sh {
  z-index: 2;
  position: relative;
}
.nav-left-sh.affix {
  position: fixed !important;
  top: 60px;
  width: 263px;
}
