 .panel-body {
    padding: 5px!important;
    padding-bottom: 5px!important;
}

.outerbox {
	padding:15px;
    background-color: #fbfbfb;
    border-radius: 5px;
	margin-bottom:15px;
}

.premium {
    background-color: white!important;
}

.standout {
	padding: 10px;
    padding-top: 17px;
    background-color: #ff7200;
    text-align: center;
    border-radius: 5px;
    color: white;
}

.pager .disabled > a {
  display: none;
}

.nav .credits {
  color: #fff;
  line-height: 60px;
}

.orange {
    background-color: #ff7200;
    color: white;
}