// @import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Welcome Page
.Advertise {
	display: flex;
	flex-direction: column;
	align-items: center;
	@media (min-width: 768px) {
		flex-direction: row;
		&__text, &__button {
			flex-basis: 50%;
		}
		&__button a {
			font-size: 25px;
		}
	}
}

.Contact {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__text {
		ul {
			padding-left: 20px;
		}
	}
	@media (min-width: 768px) {
		flex-direction: row-reverse;
		&__text {
			flex-basis: 60%;
		}
		&__button {
			flex-basis: 40%;
		}
	}
}

.Download {
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@media (min-width: 768px) {
		width: 80%;
	}
	.form-group {
		display: flex;
		align-items: center;
		label {
			flex-basis: 30%;
		}
		input {
			flex-basis: 70%;
		}
	}
}

// Contact Page
.ContactUs {
	margin: 0 auto;
	max-width: 600px;
	.form-group {
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		label, input, select, textarea {
			flex-basis: 100%;
		}
		button[type="submit"] {
			margin: 15px 0;
			width: 304px;
			@media (min-width: 480px) {
				width: auto;
				margin-left: 30%;
			}
			@media (min-width: 992px) {
				margin-left: 0;
			}
		}
		@media (min-width: 480px) {
			&:last-child {
				justify-content: space-between;
			}
			label {
				flex-basis: 30%;
			}
			input, select, textarea {
				flex-basis: 70%;
			}
			.g-recaptcha {
				margin-left: 30%;
			}
		}
	}
}
